<html>
<head>
  <title><%= document.config.title %></title>
  <link rel="stylesheet" type="text/css" href="build/build.css">
  <style type="text/css">

<% 
  for(var i=0; i<document.pages.length; i++){
    var no = i+1;
    var page = document.pages[i];

%>

    #book .pagebg<%- no %>{
      background:url(images/page<%- no %>.png);
    }

<% } %>
  </style>
</head>
<body>
  
  
  <div id="home">

  </div>
  <div id="bookviewer">
    <div id="shadow"></div>
    <div id="book">
        
    </div>
    <div class="arrow leftarrow"></div>
    <div class="arrow rightarrow"></div>
  </div>
  
  <div id="homebutton">
    <img src="build/storytimeislandbook/img/home.png" />
  </div>

  <div id="teddybutton">
    <img class="normal" src="build/storytimeislandbook/img/cornertab.png" />
    <img class="highlight" src="build/storytimeislandbook/img/cornertabactive.png" />
  </div>
  
  <script id="homepagetemplate" type="text/template">
    <table width="100%">
      <tr>
        <td colspan=3 align=center height=1>
          <img id="logoimage" src="build/storytimeislandbook/img/logo.png" />
        </td>
      </tr>
      <tr>
        <td width=50% align=right valign=top>
          <div id="nobubblebutton" class="pointercursor tapbutton">
            <img id="nobubbleimage" src="build/storytimeislandbook/img/nobubble.png" /><br /><br />
            <div id="nobubbletab" class="homepagetab">grownup reads</div>
          </div>
        </td>
        <td align=center width=1 id="booktd" style="padding-top:0px;">
          <img id="frontpageimage" class="pointercursor boxshadow tapbutton" src="icons/frontpage.png" />
        </td>
        <td width=50% align=left valign=top>
          <div id="bubblebutton" class="pointercursor tapbutton">
            <img id="bubbleimage" src="build/storytimeislandbook/img/bubble.png" /><br /><br />
            <div id="bubbletab" class="homepagetab">reads itself</div>
          </div>
        </td>
      </tr>
    </table>
    <div id="teddyholder"></div>
  </script>

  <script id="gallerytemplate" type="text/template">
    <div id="gallery" class="quickanimator">
    
      <div class="gallerymask">
        <div class="galleryimages quickanimator" style="position:relative;width:<%- document.pages.length * (112) %>px;">
<% 
  for(var i=0; i<document.pages.length; i++){
    var no = i+1;
    var page = document.pages[i];

%>
          <div>
            <div class="gallerypage" data-gallery-index="<%- i %>" style="background:url(images/page<%- page.number %>.thumb.png)">
              <div class="gallerybadge"><span class="badge badge-info"><%- i %></span></div>
            </div>
          </div>
<% } %>

        </div>
      </div>

      <div class="galleryarrowleft">
          <img class="arrowimg" data-direction="-1" src="build/storytimeislandbook/img/leftarrow.png" height=80 />
      </div>
    
      <div class="galleryarrowright">
          <img class="arrowimg" data-direction="1" src="build/storytimeislandbook/img/rightarrow.png" height=80 />
      </div>

    </div>
  </script>

  <script id="teddytemplate" type="text/template">
    <div id="teddy">
      <div class="body"></div>
      <div class="lefteye"></div>
      <div class="righteye"></div>
      <div class="mouth"></div>
      <div class="arm"></div>
    </div>
  </script>

  <script id="lastpage_template" type="text/template">
    <%- last_page_html %>
  </script>

  <script>
    window.$storytimebook = <%- JSON.stringify(document, null, 4) %>;
  </script>
  <script src="env.js"></script>
  <script src="vendor/buzz.js"></script>
  <script src="vendor/motio.js"></script>
  <script src="build/build.js"></script>
  
  <script>
    var $ = require('jquery');
    var app = require('storytimeislandbook/app');

    function onDeviceReady(){
      $(app);
    }

    if(window.$phonegap){
      document.addEventListener("deviceready", onDeviceReady, false);
    }
    else{
      onDeviceReady();
    }
  </script>  


  <!--
    HERE
   -->
</body>
</html>