<html>
<head>
  <title><%= document.config.title %></title>
  <link rel="stylesheet" type="text/css" href="build/build.css">
  <!--[if lte IE 9]>
    <script src="build/storytimeislandbook/shim.js"></script>
  <![endif]-->
  <style type="text/css">

<% 
  for(var i=0; i<document.pages.length; i++){
    var no = i+1;
    var page = document.pages[i];

%>

    #bookviewer .pagebg<%- no %>{
      background:url(images/page<%- no %>.png);
    }

<% } %>
  </style>
</head>
<body>
  

  <div id="bookviewer">
      
  </div>

  <div id="home">

  </div>

  <div class="arrow leftarrow"></div>
  <div class="arrow rightarrow"></div>
  
  <div id="homebutton">
    <img src="build/storytimeislandbook/img/home.png" />
  </div>

  <div id="teddybutton">
    <img class="normal" src="build/storytimeislandbook/img/cornertab.png" />
    <img class="highlight" src="build/storytimeislandbook/img/cornertabactive.png" />
  </div>


  <script id="homepagetemplate" type="text/template">

    <div id="homeloading">
      <table width="100%" height="100%">
        <tr>
          <td align=center valign=middle>
            <img src="build/storytimeislandbook/img/buddy.png" />
          </td>
        </tr>
      </table>
    </div>
    <div id="homeloaded" style="display:none;width:100%:height:100%;">
      <img id="logoimage" src="build/storytimeislandbook/img/logo.png" />

      <div id="bubbleholders">
        <div id="bubblebutton" class="pointercursor tapbutton">
          <img id="bubbleimage" src="build/storytimeislandbook/img/bubble.png" /><br /><br />
          <div id="bubbletab" class="homepagetab">reads itself</div>
        </div>
        <div id="nobubblebutton" class="pointercursor tapbutton">
          <img id="nobubbleimage" src="build/storytimeislandbook/img/nobubble.png" /><br /><br />
          <div id="nobubbletab" class="homepagetab">grownup reads</div>
        </div>
      </div>

      <div id="teddyholder"></div>
    </div>
  </script>

  <script id="lastpagetemplate" type="text/template">
    <%- last_page_html %>
  </script>
  
  <script id="teddytemplate" type="text/template">
    <div id="teddy">
      <div class="body"></div>
      <div class="lefteye"></div>
      <div class="righteye"></div>
      <div class="mouth">
        <div class="mouthimg"></div>
      </div>
      <div class="arm"></div>
    </div>
  </script>

  <script>
    window.$storytimebook = <%- JSON.stringify(document, null, 4) %>;
  </script>
  <script src="env.js"></script>
  <script src="build/build.js"></script>
  <script>
    var $ = require('jquery');
    
    function runApp(){
      
      var app = require('storytimeislandbook/app');
      app();
      
    }

    function onDeviceReady(){
      $(runApp);
    }

    function exitFromApp(){
      navigator.app.exitApp();
    }

    if(window.$phonegap){
      document.addEventListener("deviceready", runApp, false);
      document.addEventListener("backbutton", exitFromApp, false);
      document.addEventListener("pause", exitFromApp, false);
      document.addEventListener("menubutton", exitFromApp, false);
    }
    else{
      onDeviceReady();
    }
  </script>  


  <!--
    HERE
   -->
</body>
</html>